---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Brands from '~/components/widgets/Brands.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

import { sanityClient } from 'sanity:client';
import PortableText from '~/components/portabletext/PortableText.astro';

const metadata = {
  title: 'intuitem - Open source CISO Assistant - GRC',
  description:
    'intuitem provides products and services on cyber security and infrastructure management. CISO Assistant is a one-stop-shop open source solution that helps security teams to manage their GRC activities. Available in community, pro and enterprise editions.',
  ignoreTitleTemplate: true,
};

const heroSection = await sanityClient.fetch(`*[_type == "siteSection" && slug == "hero"]{
    slug,
    "body": body[_key == "fr"][0].value,
}`);

const featuresContent = await sanityClient.fetch(`*[_type == "feature"]{
  "title": title[_key == "fr"][0].value,
  "description": description[_key == "fr"][0].value,
  icon,
  slug,
} | order(slug asc)`);

const referenceBrands = await sanityClient.fetch(`*[_type == "referenceBrand"]{
  name,
  "imageUrl":logo.asset->url
}`);

function adjustImageUrl(ref) {
  return `${ref}`;
}

const transformedBrands = referenceBrands.map(brand => ({
  src: adjustImageUrl(brand.imageUrl),
  alt: brand.name
}));
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Commencer',
        href: '/fr/trial',
        icon: 'tabler:cloud',
      },
      { text: 'Fonctionnalités', href: '#features', icon: 'tabler:mood-plus'},
    ]}
    image={{ src: '~/assets/images/hero.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Nous 
      <span class="text-accent dark:text-white highlight"> simplifions</span> le travail des équipes cyber sécurité
    </Fragment>

    <Fragment slot="subtitle">
      <div class="text-lg text-gray-500 dark:text-gray-400 pb-4">
        <PortableText value={heroSection[0].body} />
      </div>
          </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Fonctionnalités"
    title="Ce que vous obtenez avec CISO Assistant"
    subtitle="Découvrez comment CISO Assistant peut vous aider à améliorer votre sécurité et optimiser votre temps."
    items={featuresContent}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>

  
</Features>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Laissez CISO Assistant travailler pour vous en un rien de temps, avec quelques étapes simples"
    items={[
      {
        title: 'Etape 1 : <span class="font-medium">Choisissez votre déploiement</span>',
        description:
          "Lancez-vous avec l’instance gratuite ou GitHub ! Le choix vous appartient. Nous sommes là pour rendre votre voyage aussi fluide que possible. Alors, faites votre choix et commençons !",
        icon: 'tabler:package',
      },
      {
        title: 'Etape 2.a : <span class="font-medium">Expérimentez et ajoutez votre contenu</span>',
        description:
          "Suivez la documentation pour commencer à utiliser CISO Assistant. Vous pouvez ajouter votre propre contenu et tester les fonctionnalités. Nous sommes là pour vous aider à chaque étape du processus sur notre serveur Discord.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Etape 2.b : <span class="font-medium">Discutez des caractéristiques et des besoins spécifiques</span>',
        description:
          'Que vous soyez à la recherche d’une fonctionnalité spécifique ou que vous ayez un besoin particulier, nous sommes là pour vous aider. Toute personnalisation sera couverte par le support du plan d’entreprise et pourra être adaptée à vos besoins.',
        icon: 'tabler:paint',
      },
{
        title: 'Etape 3 : <span class="font-medium">Mettez à niveau votre souscription</span>',
        description:
          'Si vous êtes satisfait de l’édition communautaire, nous sommes heureux pour vous. Nous vous encourageons à passer à la version Pro ou Enterprise pour tirer le meilleur parti de CISO Assistant et avec une migration des données garantie.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Prêt !',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}

  />

  <!-- Brands Widget ****************** -->

  <Brands
    title="Références & Collaborations"
    subtitle="Quelques organisations avec lesquelles nous avons eu le plaisir de collaborer :"
    icons={[]}
    images={transformedBrands}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Commencer',
        href: '/fr/trial',
        icon: 'tabler:cloud',
      },
      {
        variant: 'secondary',
        text: "Plus d’informations",
        href: '/fr/ciso-assistant',
        icon: 'tabler:mood-plus',
      },
    ]}
  >
    <Fragment slot="title"> Prêt pour vous lancer ? </Fragment>

    <Fragment slot="subtitle">
      Rien de plus simple que de commencer avec CISO Assistant. Choisissez votre instance cloud gratuite ou la version community sur GitHub et expérimenter la puissance de CISO Assistant dès aujourd’hui.
    </Fragment>
  </CallToAction>

  <BlogLatestPosts
  id="blog"
  title="Restez à jour avec nos publications"
  information={`Explorez nos dernières publications sur la cybersécurité, infrastructures, data et bien plus encore.`}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</BlogLatestPosts>
</Layout>
