---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Picture } from "@astrojs/image/components";
import MiraLogo from "assets/mira_logo.png";
import CALogo from "@assets/ciso-assistant_logo.png";
import ConsultancyLogo from "@assets/consultancy.png";
import cyberSec from "@assets/cyber-security.png";
import audit from "@assets/audit.png";
import AILogo from "@assets/ai.png";
import crisis from "@assets/crisis.png";
---

<Layout>
  <Container class="px-10 overflow-x-clip">
    <!-- Header -->
    <div class="text-center my-10">
      <div class="text-5xl font-highlight text-fuchsia-800">
        <a id="products">Produits</a>
      </div>
      <div class="text-sm text-slate-600">
        Nous combinons notre expertise en cybersécurité, cloud et intelligence
        artificielle pour proposer des produits simples et innovants
      </div>
    </div>

    <section>
      <div class="p-10 my-10 relative">
        <div
          class="w-64 h-64 bg-pink-200 rounded-full absolute top-0 left-0 filter blur-3xl opacity-700 mix-blend-multiply"
        >
        </div>
        <div
          class="w-64 h-64 bg-indigo-200 rounded-full absolute top-20 left-40 filter blur-3xl opacity-700 mix-blend-multiply"
        >
        </div>
      </div>
      <div class="flex">
        <div class="w-1/3 flex items-center justify-center">
          <div class="w-1/2">
            <Picture
              src={MiraLogo}
              alt="Mira Logo"
              widths={[500]}
              loading="eager"
              format="avif"
              sizes=" 100%"
            />
          </div>
        </div>
        <div class="w-2/3 flex justify-center flex-col">
          <div class="text-2xl">🚀</div>
          <div class="text-5xl mb-4 tracking-tighter font-title">Mira</div>

          <p class="mb-2">
            Que vous commenciez votre programme de gestion des risques ou
            cherchiez à améliorer celui existant, Mira est la solution dont vous
            avez besoin pour saisir et gérer vos risques, vos plans de
            traitement et vos contrôles associés.
          </p>
          <p>
            Cliquez en bas pour découvrir comment Mira peut vous aider à
            rationaliser votre approche de la gestion des risques et à
            construire réellement un programme de cybersécurité piloté par les
            risques.
          </p>
          <a
            href="solutions/mira"
            class="rounded p-2 bg-indigo-800 w-40 text-white my-4 text-center font-medium hover:bg-indigo-600 z-0"
            >En savoir plus</a
          >
        </div>
      </div>
    </section>

    <section>
      <div class="p-10 my-10 relative">
        <div
          class="w-64 h-64 bg-teal-300 rounded-full absolute -top-10 -right-20 filter blur-3xl opacity-70 mix-blend-multiply"
        >
        </div>
        <div
          class="w-64 h-64 bg-pink-400 rounded-full absolute top-20 -right-20 filter blur-3xl opacity-40 mix-blend-multiply"
        >
        </div>
      </div>
      <div class="flex">
        <div class="w-2/3 flex justify-center flex-col">
          <div class="text-2xl">💫</div>
          <div class="text-5xl mb-4 tracking-tighter font-title">
            CISO Assistant
          </div>
          <p class="mb-2">
            CISO Assistant répond à la préoccupation grandissante de tout DSI ou
            praticien de la cybersécurité : par où commencer face à tant de
            données et de menaces et comment concilier sécurité et conformité.
          </p>
          <p>
            Le défi principal est de trouver un moyen efficace de gérer ce
            déluge d'informations sans compromettre la sensibilité ou la
            confidentialité de vos données. L'assistant CISO simplifie ce
            processus en organisant, interprétant et hiérarchisant les données
            grâce à notre moteur d'IA hors ligne et local. Grâce à ses capacités
            innovantes, il permet une identification rapide des menaces
            potentielles, permettant une réponse rapide pour atténuer les
            risques.
          </p>
          <a
            href="ciso-assistant"
            class="rounded p-2 bg-indigo-800 w-40 text-white my-4 text-center font-medium hover:bg-indigo-600 z-0"
            >Liste d'attente</a
          >
        </div>
        <div class="w-1/3 flex items-center justify-center">
          <div class="w-1/2">
            <Picture
              src={CALogo}
              alt="CISO Assistant Logo"
              widths={[500]}
              loading="eager"
              format="avif"
              sizes=" 25%"
            />
          </div>
        </div>
      </div>
    </section>

    <!-------------------------------------------------------- -->
    <!-- Header -->
    <div class="text-center mb-10 mt-20">
      <div class="text-5xl font-highlight text-fuchsia-800">
        <a id="services">Services</a>
      </div>
      <div class="text-sm text-slate-600">
        Nos experts chevronnés pour votre tranquillité d'esprit et
        l'autonomisation de vos équipes
      </div>
    </div>

    <section class="overflow-visible">
      <div class="p-10 my-10 relative">
        <div
          class="w-64 h-64 bg-emerald-300 rounded-full absolute top-0 -left-20 filter blur-3xl opacity-70 mix-blend-multiply"
        >
        </div>
        <div
          class="w-64 h-64 bg-violet-300 rounded-full absolute top-20 left-20 filter blur-3xl opacity-70 mix-blend-multiply"
        >
        </div>
      </div>
      <div class="flex">
        <div class="w-1/2 flex justify-center flex-col">
          <div class="text-2xl">🚀</div>
          <div class="text-5xl mb-4 tracking-tighter font-title z-0">
            Accompagnement GRC<br />et gestion des risques
          </div>
          <p class="mb-2">
            Boostez les capacités de Gouvernance, de Risque et de Conformité
            (GRC) et de Gestion des Risques de votre organisation avec nos
            services de conseil de premier ordre. Nous nous spécialisons dans
            l'accélération de ces processus critiques, en mettant en œuvre des
            stratégies qui améliorent l'efficacité, amplifient la transparence
            et renforcent le contrôle.
          </p>
          <p>
            Notre équipe d'experts travaille en étroite collaboration avec votre
            organisation, aidant à identifier méticuleusement votre profil de
            risque et à formuler des protocoles de conformité robustes qui
            s'harmonisent avec vos objectifs métier uniques ainsi que vos
            exigences réglementaires.
          </p>
          <a
            href="mira"
            class="rounded p-2 bg-indigo-800 w-40 text-white my-4 text-center font-medium hover:bg-indigo-600 z-0"
            >Plus de détails</a
          >
        </div>
        <div class="w-1/2 flex items-center justify-center">
          <div class="w-1/3">
            <Picture
              src={cyberSec}
              alt="Mira Logo"
              widths={[500]}
              loading="eager"
              format="avif"
              sizes=" 100%"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="">
      <div class="p-10 my-10 relative">
        <div
          class="w-64 h-64 bg-rose-500 rounded-full absolute top-0 -right-20 filter blur-3xl opacity-50 mix-blend-multiply"
        >
        </div>
        <div
          class="w-64 h-64 bg-sky-500 rounded-full absolute top-20 right-20 filter blur-3xl opacity-50 mix-blend-multiply"
        >
        </div>
      </div>
      <div class="flex">
        <div class="w-1/2 flex items-center justify-center">
          <div class="w-1/3">
            <Picture
              src={crisis}
              alt="cybersec"
              widths={[500]}
              loading="eager"
              format="avif"
              sizes=" 100%"
            />
          </div>
        </div>
        <div class="w-1/2 flex justify-center flex-col">
          <div class="text-2xl">💫</div>
          <div class="text-5xl mb-4 tracking-tighter font-title z-0">
            Cellule de gestion de crise
          </div>
          <p class="mb-2">
            Prenez le contrôle des défis imprévus avec notre "Task Force"
            spécialisée en Gestion de Crise. Dans une ère où les incertitudes
            sont la seule certitude, notre équipe dédiée d'experts est prête à
            guider votre organisation à travers n'importe quelle tempête. Nous
            fournissons une réponse rapide, efficace et proactive, permettant à
            votre organisation de réduire les risques, de protéger sa réputation
            et d'assurer la continuité des affaires.
          </p>
          <p>
            Notre Task Force n'est pas seulement réactive; nous sommes aussi
            décidément proactifs. Nous vous aidons à vous préparer pour les
            crises potentielles, en construisant des plans de contingence
            robustes et en dispensant des formations à vos équipes. Avec notre
            mélange de technologie de pointe et de prévision stratégique, nous
            vous équipons de la résilience nécessaire pour surmonter toute
            crise.
          </p>
          <a
            href="#"
            class="rounded p-2 bg-indigo-800 w-40 text-white my-4 text-center font-medium hover:bg-indigo-600 z-0"
            >Rappelez-moi</a
          >
        </div>
      </div>
    </section>

    <section>
      <div class="p-10 my-10 relative">
        <div
          class="w-60 h-60 bg-emerald-300 rounded-full absolute top-0 -left-20 filter blur-3xl opacity-70 mix-blend-multiply"
        >
        </div>
        <div
          class="w-60 h-60 bg-yellow-300 rounded-full absolute top-20 left-20 filter blur-3xl opacity-70 mix-blend-multiply"
        >
        </div>
      </div>
      <div class="flex">
        <div class="w-1/2 flex justify-center flex-col">
          <div class="text-2xl">🚀</div>
          <div class="text-5xl mb-4 tracking-tighter font-title z-0">
            Audit Cyber sécurité<br /> et tests d'intrusion
          </div>
          <p class="mb-2">
            Sécurisez votre frontière numérique avec nos services complets
            d'Audit de Cybersécurité & Pentesting. À une époque où les menaces
            cybernétiques évoluent à un rythme sans précédent, notre équipe
            d'experts chevronnés se tient comme votre ligne de défense
            formidable. Nous nous plongeons profondément dans vos systèmes,
            identifiant les vulnérabilités, et testant la résilience, offrant
            une analyse approfondie qui vous permet de renforcer votre
            cybersécurité.
          </p>
          <p>
            Mais nos services vont au-delà de la simple identification des
            faiblesses. Nos professionnels du Pentest simulent des attaques du
            monde réel, mettant vos systèmes à l'épreuve par le biais d'un
            piratage éthique rigoureux pour évaluer leur véritable robustesse.
            Après l'audit, nous fournissons des rapports détaillés et des
            recommandations pratiques, vous permettant de renforcer efficacement
            vos défenses numériques.
          </p>
          <a
            href="#"
            class="rounded p-2 bg-indigo-800 w-40 text-white my-4 text-center font-medium hover:bg-indigo-600 z-0"
            >En savoir plus</a
          >
        </div>
        <div class="w-1/2 flex items-center justify-center">
          <div class="w-1/3">
            <Picture
              src={audit}
              alt="audit"
              widths={[500]}
              loading="eager"
              format="avif"
              sizes=" 100%"
            />
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="p-10 my-10 relative">
        <div
          class="w-64 h-64 bg-blue-900 rounded-full absolute top-0 -right-20 filter blur-3xl opacity-60 mix-blend-multiply"
        >
        </div>
        <div
          class="w-64 h-64 bg-cyan-400 rounded-full absolute top-20 right-20 filter blur-3xl opacity-60 mix-blend-multiply"
        >
        </div>
      </div>
      <div class="flex">
        <div class="w-1/2 flex items-center justify-center">
          <div class="w-1/3">
            <Picture
              src={AILogo}
              alt="AI/ML"
              widths={[500]}
              loading="eager"
              format="avif"
              sizes=" 100%"
            />
          </div>
        </div>
        <div class="w-1/2 flex justify-center flex-col">
          <div class="text-2xl">💫</div>
          <div class="text-5xl mb-4 tracking-tighter font-title z-0">
            Intégration Data et AI/ML
          </div>
          <p class="mb-2">
            Re-Découvrez le potentiel de votre entreprise avec nos services de
            pointe d'Automatisation et d'Intégration des Données par IA/ML.
            Alors que nous naviguons dans une ère où les données deviennent le
            moteur des prises de décision, notre équipe dédiée d'experts en IA
            et ML intervient pour vous aider à automatiser les processus et à
            intégrer des systèmes intelligents dans votre paysage d'affaires.
            Nous ne nous contentons pas de rationaliser vos tâches répétitives -
            notre objectif est d'injecter de l'intelligence dans vos opérations
            de données, permettant des insights en temps réel et des analyses
            prédictives qui orientent la prise de décision stratégique.
          </p>
          <p>
            Entrez dans l'avenir des données avec nos solutions d'IA générative
            hors ligne. Cette technologie avancée vous permet de générer de
            nouvelles données même lorsque vous êtes déconnecté de l'internet,
            assurant des opérations ininterrompues et des insights continus. Nos
            solutions sur mesure se fondent sans heurt avec votre infrastructure
            existante, éliminant les silos de données et favorisant une
            collaboration interfonctionnelle améliorée. Avec nos services
            d'Automatisation et d'Intégration des Données par IA/ML,
            préparez-vous à révolutionner vos processus, obtenir des insights
            stratégiques et devancer la concurrence.
          </p>
          <a
            href="#"
            class="rounded p-2 bg-indigo-800 w-40 text-white my-4 text-center font-medium hover:bg-indigo-600 z-0"
            >En savoir plus</a
          >
        </div>
      </div>
    </section>

    <section>
      <div class="p-10 my-10 relative">
        <div
          class="w-64 h-64 bg-blue-400 rounded-full absolute top-0 -left-20 filter blur-3xl opacity-60 mix-blend-multiply"
        >
        </div>
        <div
          class="w-64 h-64 bg-purple-600 rounded-full absolute top-40 -left-10 filter blur-3xl opacity-60 mix-blend-multiply"
        >
        </div>
      </div>
      <div class="flex">
        <div class="w-1/2 flex justify-center flex-col">
          <div class="text-2xl">🚀</div>
          <div class="text-5xl mb-4 tracking-tighter font-title z-0">
            Prestation et conseil sur mesure
          </div>
          <p class="mb-2">
            Améliorez votre activité digitale avec notre gamme complète de
            services de conseil. Des subtilités de la conception du cloud aux
            complexités de l'architecture des systèmes distribués, notre équipe
            d'experts est prête à vous guider. Nous travaillons en étroite
            collaboration avec votre équipe pour développer et mettre en œuvre
            des stratégies cloud qui s'alignent sur vos objectifs commerciaux,
            offrant des solutions rentables et évolutives. Parallèlement à cela,
            nos architectes qualifiés conçoivent des systèmes robustes adaptés à
            vos besoins spécifiques, garantissant la scalabilité, la fiabilité
            et des performances optimales.
          </p>
          <p>
            La navigation à travers les défis des opérations à grande échelle et
            le soutien des équipes d'ingénierie de fiabilité de site (SRE) font
            également partie intégrante de notre offre de services. Nous
            fournissons une assistance stratégique pour gérer des opérations de
            grand volume et complexes, optimisant la productivité et atténuant
            les risques. De plus, nous agissons comme une extension de vos
            équipes SRE, apportant des connaissances approfondies et de
            l'expérience pour favoriser l'amélioration continue, une culture
            sans reproches et le développement de systèmes résilients. Avec nos
            divers services de conseil, nous équipons votre entreprise des
            outils et de l'expertise nécessaires pour exceller dans le paysage
            commercial compétitif.
          </p>
          <a
            href="#"
            class="rounded p-2 bg-indigo-800 w-40 text-white my-4 text-center font-medium hover:bg-indigo-600 z-0"
            >En savoir plus</a
          >
        </div>
        <div class="w-1/2 flex items-center justify-center">
          <div class="w-1/3">
            <Picture
              src={ConsultancyLogo}
              alt="Consultancy"
              widths={[500]}
              loading="eager"
              format="avif"
              sizes=" 25%"
            />
          </div>
        </div>
      </div>
    </section>
  </Container>
</Layout>
