---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Team">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About us</Fragment>
      <Fragment slot="desc">Passionate and experienced team</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">Meet the founders</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        The journey of a thousand miles begun with a single step on 2018. We
        created the company with a vision to help people build and grow their
        business through simplicity and innovation. As we learned from previous
        experiences and failures, we have developed our own unique approach to help our
        clients achieve their goals in the most optimal and sustainable way.
      </p>
    </div>
    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Image
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                width="400"
                height="400"
                aspectRatio="1:1"
                background="#ffffff"
                fit="cover"
                position="center"
                class="w-full rounded-full transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <a class="text-lg text-gray-800" href={teamMemberEntry.data.linkedin}>{teamMemberEntry.data.name}</a>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">The team</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        We are a multi disciplinary team of developers, marketers, and cyber
        security experts. We are passionate about what we do and we are always
        looking for ways to improve the way we work. We are a small team, but we are growing fast. If you are interested in joining us, you are welcome to reach out.
      </p>
    </div>
  </Container>
</Layout>
