---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import LanguagePicker from "@components/LanguagePicker.astro";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const menuitems = [
  {
    title: "Solutions",
    children: [
      {
        title: t('nav.overview'),
        path: `/${lang}/solutions/`,
      },
      {
        title: "Mira",
        path: `/${lang}/solutions/mira/`,
      },
      {
        title: "CISO Assistant",
        path: `/${lang}/solutions#products`,
      },
      {
        title: t('nav.audit'),
        path: `/${lang}/solutions#services`,
      },
      {
        title: t('nav.ai'),
        path: `/${lang}/solutions#services`,
      },
      {
        title: t('nav.consultancy'),
        path: `/${lang}/solutions#services`,
      },
    ], 
  },
  {
    title: t('nav.community'),
    path: `/${lang}/community/`,
  },
  {
    title: "Contact",
    path: `/contact/`,
  },
  {
    title: "Blog",
    path: "/blog",
  },
];
---

<Container class="">
  <header class="flex flex-col lg:flex-row justify-between items-center my-5 mx-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <div class="flex">
          <span class="mr-2">
            <img src="https://25949168.fs1.hubspotusercontent-eu1.net/hubfs/25949168/logo_empty.png" width="32px" height="32px">
          </span>
          <a href="/" class="text-lg"
          >
          <span class="font-bold text-slate-800">intuitem</span>
        </a>
        </div>
        
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="flex my-2 hidden">
          <LanguagePicker />
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="flex my-2">
        <LanguagePicker />
      </div>
    </div>
  </header>
</Container>
