---
// @ts-ignore
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import adeoLogo from "assets/clients/adeo_.png";
import atosLogo from "assets/clients/atos_.png";
import auro3dLogo from "assets/clients/auro3d_.png";
import cotebleueLogo from "assets/clients/cotebleue_.png";
import cybervadisLogo from "assets/clients/cybervadis_.png";
import devialetLogo from "assets/clients/devialet_.png";
import dmsLogo from "assets/clients/dms_.png";
import engieLogo from "assets/clients/engie_.png";
import ercomLogo from "assets/clients/ercom_.png";
import helileoLogo from "assets/clients/helileo_.png";
import obsLogo from "assets/clients/obs_.png";
import sgLogo from "assets/clients/sg_.png";
import psLogo from "assets/clients/ps__.png";
import soneparLogo from "assets/clients/sonepar_.png";
import caLogo from "assets/clients/ca_.png";
import afnorLogo from "assets/clients/afnor_.png";
import fraGovLogo from "assets/clients/fra-gov_.png";
import confidentialLogo from "assets/clients/confidential_.png";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="mt-24 px-4 lg:px-10">
  <div class="text-center text-slate-800 text-2xl font-highlight">{t("logos.header")}</div>
  <div class="grid gap-8 md:gap-20 items-center justify-center mt-10 lg:grid-cols-6 grid-cols-4">
    <div>

      <Image alt="" src={adeoLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Image alt="" src={atosLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Image alt="" src={auro3dLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Image alt="" src={cotebleueLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Image alt="" src={cybervadisLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Image alt="" src={devialetLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Image alt="" src={dmsLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Image alt="" src={engieLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Image alt="" src={ercomLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Image alt="" src={helileoLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Image alt="" src={obsLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Image alt="" src={sgLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Image alt="" src={psLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Image alt="" src={soneparLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Image alt="" src={caLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Image alt="" src={afnorLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Image alt="" src={fraGovLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Image alt="" src={confidentialLogo} widths={[200, 400, 600]} />

    </div>

  </div>
</div>
