---
// @ts-ignore
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";
import adeoLogo from "assets/clients/adeo_.png";
import atosLogo from "assets/clients/atos_.png";
import auro3dLogo from "assets/clients/auro3d_.png";
import cotebleueLogo from "assets/clients/cotebleue_.png";
import cybervadisLogo from "assets/clients/cybervadis_.png";
import devialetLogo from "assets/clients/devialet_.png";
import dmsLogo from "assets/clients/dms_.png";
import engieLogo from "assets/clients/engie_.png";
import ercomLogo from "assets/clients/ercom_.png";
import helileoLogo from "assets/clients/helileo_.png";
import obsLogo from "assets/clients/obs_.png";
import sgLogo from "assets/clients/sg_.png";
import psLogo from "assets/clients/ps__.png";
import soneparLogo from "assets/clients/sonepar_.png";
import caLogo from "assets/clients/ca_.png";
import afnorLogo from "assets/clients/afnor_.png";
import fraGovLogo from "assets/clients/fra-gov_.png";
import confidentialLogo from "assets/clients/confidential_.png";

---

<div class="mt-24">
  <h2 class="text-center text-slate-500 text-xl font-semibold">Some of the organizations that we had the pleasure to assist and collaborate with: </h2>
  <div class="grid gap-8 md:gap-20 items-center justify-center mt-10 grid-cols-6">
    <div>
      <Picture alt="" src={adeoLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Picture alt="" src={atosLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Picture alt="" src={auro3dLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Picture alt="" src={cotebleueLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Picture alt="" src={cybervadisLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Picture alt="" src={devialetLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Picture alt="" src={dmsLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Picture alt="" src={engieLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Picture alt="" src={ercomLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Picture alt="" src={helileoLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Picture alt="" src={obsLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Picture alt="" src={sgLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Picture alt="" src={psLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Picture alt="" src={soneparLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Picture alt="" src={caLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Picture alt="" src={afnorLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Picture alt="" src={fraGovLogo} widths={[200, 400, 600]} />
    </div>
    <div>
      <Picture alt="" src={confidentialLogo} widths={[200, 400, 600]} />
    </div>

  </div>
</div>
