---
// @ts-ignore
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import adeoLogo from "assets/clients/adeo_.png";
import atosLogo from "assets/clients/atos_.png";
import auro3dLogo from "assets/clients/auro3d_.png";
import cotebleueLogo from "assets/clients/cotebleue_.png";
import cybervadisLogo from "assets/clients/cybervadis_.png";
import devialetLogo from "assets/clients/devialet_.png";
import dmsLogo from "assets/clients/dms_.png";
import engieLogo from "assets/clients/engie_.png";
import ercomLogo from "assets/clients/ercom_.png";
import helileoLogo from "assets/clients/helileo_.png";
import obsLogo from "assets/clients/obs_.png";
import sgLogo from "assets/clients/sg_.png";
import psLogo from "assets/clients/ps__.png";
import soneparLogo from "assets/clients/sonepar_.png";
import caLogo from "assets/clients/ca_.png";
import afnorLogo from "assets/clients/afnor_.png";
import fraGovLogo from "assets/clients/fra-gov_.png";
import confidentialLogo from "assets/clients/confidential_.png";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="mt-24 px-4 lg:px-10">
  <div class="text-center text-slate-800 text-2xl font-highlight">{t("logos.header")}</div>
  <div class="grid gap-8 md:gap-20 items-center justify-center mt-10 lg:grid-cols-6 grid-cols-4">
    <div>
      <Image alt="" src={adeoLogo}  />
    </div>
    <div>
      <Image alt="" src={atosLogo}  />
    </div>
    <div>
      <Image alt="" src={auro3dLogo}  />
    </div>
    <div>
      <Image alt="" src={cotebleueLogo}  />
    </div>
    <div>
      <Image alt="" src={cybervadisLogo}  />
    </div>
    <div>
      <Image alt="" src={devialetLogo}  />
    </div>
    <div>
      <Image alt="" src={dmsLogo}  />
    </div>
    <div>
      <Image alt="" src={engieLogo}  />
    </div>
    <div>
      <Image alt="" src={ercomLogo}  />
    </div>
    <div>
      <Image alt="" src={helileoLogo}  />
    </div>
    <div>
      <Image alt="" src={obsLogo}  />
    </div>
    <div>
      <Image alt="" src={sgLogo}  />
    </div>
    <div>
      <Image alt="" src={psLogo}  />
    </div>
    <div>
      <Image alt="" src={soneparLogo}  />
    </div>
    <div>
      <Image alt="" src={caLogo}  />
    </div>
    <div>
      <Image alt="" src={afnorLogo}  />
    </div>
    <div>
      <Image alt="" src={fraGovLogo}  />
    </div>
    <div>
      <Image alt="" src={confidentialLogo}  />
    </div>

  </div>
</div>
